<!DOCTYPE html>
<html>
<head>
  <title>Buzzr (Project 2)</title>
  <%= javascript_include_tag "application" %>
  <link href="assets/bootstrap-glyphicons.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
<!-- GOOGLE MAPS API SCRIPT with ID from bash_profile appended -->
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE'] %>&sensor=true">
  </script>
<script language="JavaScript" src="http://j.maxmind.com/app/geoip.js"></script>
</head>
<body>
  <%= render :partial => 'layouts/nav' %>

  <%= render :partial => 'layouts/body' %>
  <%= render :partial => 'layouts/footer' %>
</body>
</html>
